@import './vendors/_modern-normalize';
@import './utils/_variables';
@import './base/_fonts';
@import './base/common';
@import './base/container';
@import './components/button';
@import './components/form';
@import './layouts/header';
@import './layouts/navigation';
@import './components/sectionTitle';

/* Страница "Студия" */

/* Оформление header */

/* Навигация */

/* Оформление main */

/* section-hero */
.hero-section {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--accent-bg-color);
  background-image: linear-gradient(
      to left,
      rgb(47, 48, 58, 0.4),
      rgb(47, 48, 58, 0.4)
    ),
    url(../images/main/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-title {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-bg-color);
}

/* Модальное окно */

/* Бекдроп модального окна */

/* Прячем браузерный checkbox */
.form-checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Кастомный чекбокс */
.checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 0 2px var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked + .checkbox {
  box-shadow: none;
  background-color: var(--primary-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:focus + .checkbox {
  box-shadow: 0 0 0 2.7px var(--title-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked:focus + .checkbox {
  background-color: var(--primary-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__label {
  padding-left: 16px;
}
.form-checkbox__link {
  text-decoration-line: underline;
  color: var(--primary-link-color);
}
/* Кнопка закрытия модального окна */
.form-button__close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
}
.form-button__close::before,
.form-button__close::after {
  content: ' ';
  position: absolute;
  height: 18px;
  width: 2px;
  background-color: var(--title-text-color);
}
.form-button__close:before {
  transform: rotate(45deg) translate(-6px, -6px);
}
.form-button__close:after {
  transform: rotate(-45deg) translate(6px, -6px);
}
.form-button__close:hover::before,
.form-button__close:hover::after,
.form-button__close:focus::before,
.form-button__close:focus::after {
  background-color: var(--primary-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section "Наши преимущества" */
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
  margin-left: -30px;
}
.advantages__item {
  display: block;
  margin-left: 30px;
  width: calc((100% - 30px * 4) / 4);
}
.advantages__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-bg-second-color);
  height: 120px;
  border-radius: 4px;
  background-size: cover;
  margin-bottom: 30px;
}
.icon__antenna {
  width: 66px;
  height: 70px;
}
.icon__clock {
  width: 67px;
  height: 70px;
}
.icon__diagram {
  width: 70px;
  height: 54px;
}
.icon__astronaut {
  width: 70px;
  height: 62px;
}
.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}

/* Section Activity  и "Чем мы занимаемся" */
.activity {
  padding-bottom: 94px;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
}
.activity__item + .activity__item {
  margin-left: 30px;
}
.activity__item {
  width: calc((100% - 30px * 2) / 3);
  height: auto;

  position: relative;
  z-index: -1;
}
.activity__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

/* "Наша команда" */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--accent-bg-second-color);
}
.team__item--title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team__item {
  text-align: center;

  width: calc((100% - 30px * 4) / 4);
  margin-left: 30px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .team__item:not(:last-child) {
  margin-right: 30px;
} */
.team__img {
  /* display: inline-block; */
  margin-bottom: 30px;
}
.team__text {
  text-align: center;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
.social-icons {
  display: inline-flex;
  padding-bottom: 30px;
}
.social-icons__item + .social-icons__item {
  margin-left: 10px;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--primary-link-color);
}
.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-icon-color);
}
.social-icons__link:hover .icon,
.social-icons__link:focus .icon {
  fill: var(--primary-bg-color);
}
/* Секция "Постоянные клиенты" */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}
.clients__item {
  display: block;
  margin-left: 30px;
  width: calc((100% - 30px * 6) / 6);
  height: 90px;
}
.clients__link {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--primary-icon-color);
  fill: var(--primary-icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--primary-link-color);
}
.clients__icons {
  width: 100%;
  height: 44px;
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icons,
.clients__link:focus .clients__icons {
  fill: var(--primary-link-color);
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--accent-bg-color);
}
.footer__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__item {
  flex-basis: calc((50% - 45px) / 2);
}
.footer__item:last-child {
  flex-basis: calc(50% - 15px);
}
.footer__item .footer__title {
  padding-top: 10px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}
.footer__adress {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--primary-bg-color);
}
.footer__contact__item {
  margin-bottom: 9px;
}
.footer__contact__item:last-child {
  margin-bottom: 0;
}
.footer__contact-link {
  display: block;
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:hover,
.footer__contact-link:focus {
  color: var(--primary-link-color);
}

/* Footer-social */
.footer-social {
  margin-top: 12px;
  margin-left: 70px;
}
/* footer title */
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-bg-color);
  text-transform: uppercase;
}

/* Footer icons */
.social-icons__link.accent {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link.accent:hover,
.social-icons__link.accent:focus {
  background-color: var(--primary-link-color);
}
.social-icons.accent .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-bg-color);
}
.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Footer Форма отправки письма */
.footer-form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--accent-bg-color);
  padding-left: 16px;
  font-size: 16px;
  color: var(--primary-bg-color);
}
.footer-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 12.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-icon-send {
  width: 24px;
  height: 24px;
}

/* Страница "Портфолио" */
/* Header portfolio */
.page-portfolio {
  border-bottom: 1px solid #ececec;
}
/* Секция main portfolio*/
.example {
  padding-top: 94px;
  padding-bottom: 94px;
}
.example-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.example-button {
  padding: 6px 22px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--accent-bg-second-color);
  color: var(--title-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-button:hover,
.example-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--primary-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.example-item:not(:last-child) {
  margin-right: 8px;
}

/* Works portfolio */
/* Создание сетки секции portfolio */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.work-item {
  width: calc((100% - 30px * 3) / 3);
  height: 404px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-image-color);
}
.work-link {
}
/* Создание overlay на карточку */
.work-thumb {
  position: relative;
  overflow: hidden;
}
.work-link:hover .work-overlay,
.work-link:focus .work-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-img {
}
.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
}
/* Оформление текста секции portfolio */
.work-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;

  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.work-text {
  margin-left: 24px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.work-item:hover,
.work-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
