// Кастомный чекбокс
.checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 0 2px var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked + .checkbox {
  box-shadow: none;
  background-color: var(--primary-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:focus + .checkbox {
  box-shadow: 0 0 0 2.7px var(--title-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked:focus + .checkbox {
  background-color: var(--primary-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__label {
  padding-left: 16px;
}
.form-checkbox__link {
  text-decoration-line: underline;
  color: var(--primary-link-color);
}
