// Основной цвет шрифта Roboto серый color: #757575;
// Вторичный цвет шрифта Roboto черный color:#212121;
// Вторичный цвет шрифта Roboto белый color: #FFFFFF;
// Основной цвет ссылки: #2196F3;
// Вторичный цвет ссылки: #188ce8;
// Цвет шрифта адреса в футере color: rgba(255, 255, 255, 0.6);
// Первичный цвет фона background: #FFFFFF;
// Вторичный цвет фона background: #2F303A;
// Цвет фона секции "Наша команда" background: #F5F4FA;
:root {
  --primary-text-color: #757575;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --primary-link-color: #2196f3;
  --accent-link-color: #188ce8;
  --primary-bg-color: #ffffff;
  --accent-bg-color: #2f303a;
  --accent-bg-second-color: #f5f4fa;
  --accent-bgi-color: #c4c4c4;
  --primary-icon-color: #afb1b8;
  --border-image-color: #eeeeee;
}
